.categoria-card-cuadro {
    width: 100%;
    max-width: 400px;
    border: 2px solid #007bff; /* Borde azul para destacar */
    border-radius: 8px;
    padding: 1.5rem;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-family: 'Roboto', sans-serif;
    margin: auto;

    h2 {
        font-size: 1.5rem;
        color: #007bff; /* Azul para el título */
        text-align: center;
        margin-bottom: 1rem;
        text-transform: uppercase;
    }

    p {
        margin: 1rem 0;
        font-size: 1rem;
        color: #333;

        strong {
            font-weight: bold;
            color: #007bff; /* Azul para las etiquetas */
        }

        span {
            color: #555; /* Gris suave para los valores */
        }
    }
}
