<p-dialog header="Add Detail" [(visible)]="visible" [modal]="true" [responsive]="true" (onHide)="resetForm()" [style]="{minWidth: '400px'}" class="detail-dialog">
  <form [formGroup]="detailForm" (ngSubmit)="onSubmit()">
    <div class="p-field p-grid">
      <label for="service" class="p-col-12 p-md-2">Service:</label>
      <p-dropdown id="service" [options]="services" formControlName="service" optionLabel="name" (onChange)="onServiceChange($event.value)" class="p-inputgroup"></p-dropdown>
    </div>
    <div class="p-field p-grid">
      <label for="discount" class="p-col-12 p-md-2">Discount (%):</label>
      <div class="p-col-12 p-md-10">
        <input id="discount" type="number" formControlName="discount" (input)="onDiscountChange()" class="custom-input" />
      </div>
    </div>
    <div class="p-field p-grid">
      <label for="observations" class="p-col-12 p-md-2">Observations:</label>
      <div class="p-col-12 p-md-10">
        <input id="observations" type="text" formControlName="observations" class="custom-input" />
      </div>
    </div>
    <div class="p-field p-grid">
      <label for="cost" class="p-col-12 p-md-2">Cost:</label>
      <div class="p-col-12 p-md-10">
        <input id="cost" type="number" formControlName="cost" disabled class="custom-input" />
      </div>
    </div>
    <div class="p-field p-grid">
      <div class="p-col-12 p-md-2"></div>
      <div class="p-col-12 p-md-10">
        <button type="submit" [disabled]="!detailForm.valid" class="p-button p-component">Add Detail</button>
      </div>
    </div>
  </form>
</p-dialog>
