.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Altura completa de la ventana */
  }
  
  .budget-create {
    width: 50%; /* Ajusta el ancho según sea necesario */
    margin: auto;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    background-color: #fff;
  }
  
  .form-group {
    display: flex;
    align-items: center;
    margin-bottom: 15px; /* Espacio entre los grupos de formularios */
  }
  
  label {
    margin-right: 10px; /* Espacio entre el texto y el input */
    min-width: 150px; /* Ajusta esto según sea necesario para alinear las etiquetas */
  }
  
  input, p-inputNumber, p-dropdown, p-inputTextarea {
    flex-grow: 1; /* Permite que los inputs ocupen el espacio disponible */
  }
  
  .buttons-group {
    display: flex;
    justify-content: flex-start;
  }
  
  .buttons-group button {
    margin-right: 3px; /* Espacio de 3px entre los botones */
  }
  
  .buttons-group button:last-child {
    margin-right: 0; /* Elimina el margen derecho del último botón */
  }
  .custom-input {
    border: 1px solid #ced4da; // Borde del input
    border-radius: 4px;        // Radio del borde
    padding: 0.375rem 0.75rem; // Espaciado interno
    font-size: 1rem;           // Tamaño de la fuente
    line-height: 1.5;          // Altura de línea
    width: 100%;               // Ancho del input
    color: #495057;            // Color del texto
    background-color: #fff;    // Color de fondo
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out; // Transiciones
  
    &:focus {
      border-color: #80bdff; // Color del borde al enfocar
      outline: 0; // Elimina el contorno predeterminado
      box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25); // Sombra al enfocar
    }
  
    &:disabled {
      background-color: #e9ecef; // Color de fondo cuando está deshabilitado
      opacity: 1; // Opacidad
    }
  
    &::placeholder {
      color: #6c757d; // Color del placeholder
      opacity: 1; // Opacidad del placeholder
    }
  }
  .custom-input {
    border: 1px solid #ced4da; // Borde del input
    border-radius: 4px;        // Radio del borde
    padding: 0.375rem 0.75rem; // Espaciado interno
    font-size: 1rem;           // Tamaño de la fuente
    line-height: 1.5;          // Altura de línea
    width: 100%;               // Ancho del input
    color: #495057;            // Color del texto
    background-color: #fff;    // Color de fondo
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out; // Transiciones
  
    &:focus {
      border-color: #80bdff; // Color del borde al enfocar
      outline: 0; // Elimina el contorno predeterminado
      box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25); // Sombra al enfocar
    }
  
    &:disabled {
      background-color: #e9ecef; // Color de fondo cuando está deshabilitado
      opacity: 1; // Opacidad
    }
  
    &::placeholder {
      color: #6c757d; // Color del placeholder
      opacity: 1; // Opacidad del placeholder
    }
  }
  
  