<!-- Tabla de detalles del presupuesto -->
<p-table [value]="budgetDetails" responsiveLayout="scroll" class="custom-table">
  <ng-template pTemplate="header">
    <tr>
      <th>Service</th>
      <th>Discount</th>
      <th>Observations</th>
      <th>Cost</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-detail>
    <tr>
      <td>{{ detail.service }}</td>
      <td>{{ detail.discount }}</td>
      <td>{{ detail.observations }}</td>
      <td>{{ detail.cost }}</td>
    </tr>
  </ng-template>
</p-table>

<!-- Diálogo de detalles del presupuesto -->
<app-add-detail-form
  [visible]="displayModal"
  [services]="services"
  (detailAdded)="addDetail($event)"
  (onHide)="closeModal()">
</app-add-detail-form>

<!-- Resumen del presupuesto -->
<div class="summary">
  <p>Total: {{ total }}</p>
  <p>Discount: <input type="number" [(ngModel)]="discount" (ngModelChange)="calculateFinalTotal()" class="custom-input"></p>
  <p>Final Total: {{ finalTotal }}</p>
  <p>Observations: <input type="text" [(ngModel)]="observations" class="custom-input"></p>
</div>

<div class="buttons">
  <button (click)="openModal()" class="modal-button p-button p-component custom-add-button">Add Detail</button>
  <button (click)="submitForm()" class="p-button p-component custom-submit-button">Submit Budget</button>
</div>
