<div class="form-container">
  <div class="budget-create">
    <h2>Crear Presupuesto</h2>
    <form (ngSubmit)="onSubmit()" #budgetForm="ngForm" class="form">
      <div class="form-group">
        <label for="total">Total</label>
        <p-inputNumber id="total" name="total" [(ngModel)]="budget.total" mode="currency" currency="USD" locale="es-EC" [min]="0" required></p-inputNumber>
      </div>
      <div class="form-group">
        <label for="discount">Descuento</label>
        <p-inputNumber id="discount" name="discount" [(ngModel)]="budget.discount" mode="decimal" [min]="0"></p-inputNumber>
      </div>
      <div class="form-group">
        <label for="finalTotal">Total Final</label>
        <p-inputNumber id="finalTotal" name="finalTotal" mode="currency" currency="USD" locale="es-EC" [min]="0" required></p-inputNumber>
      </div>
      <div class="form-group">
        <label for="status">Estado</label>
        <p-dropdown id="status" name="status" [(ngModel)]="budget.status" [options]="statusOptions" placeholder="Seleccione un estado" required></p-dropdown>
      </div>
      <div class="form-group">
        <label for="observations">Observaciones</label>
        <p-inputTextarea id="observations" name="observations" [(ngModel)]="budget.observations"></p-inputTextarea>
      </div>
      <div class="form-group buttons-group">
        <button pButton type="submit" label="Guardar" icon="pi pi-check" class="p-button-primary"></button>
        <button pButton type="button" label="Cancelar" icon="pi pi-times" routerLink="/pages/budgets/:id" class="p-button-secondary"></button>
      </div>
    </form>
  </div>
</div>
