<div class="container">    
        <div class="content">
            <h2>Citas</h2>
            <form class="form">
                <input type="text" placeholder="Cédula" required>
                <input type="text" placeholder="Teléfono" required>{{ paciente.user.name }}
                <input type="date" placeholder="Calendario" required>{{ paciente.user.name }}
                <textarea placeholder="Descripción" required>{{ paciente.user.name }}</textarea>
                <input type="email" placeholder="Correo Electrónico" required>{{ paciente.user.name }}

                    
                  
                    <select id="medico">
                        <option value="" disabled selected>Selecciona un médico</option>
                        <option *ngFor="let medico of medicos" [value]="medico.id">{{ medico.user.name }}</option>
                      </select>

                      <button type="button" (click)="agregarCita()">Agregar Cita</button>

                
            </form>
        </div>
</div>
